body{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid red;

}
p{
    border: 2px solid ;
    border-width: 5px;
    border-radius: 100%;
/*    border-style: ;*/

   text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    padding: 20px;
}


